/* ----- carousel content stylings ----- */
/* places the carousel content on center of the carousel */
.carousel-content {
    position: absolute;
    /*to center the content horizontally and vertically*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50;
}

.carousel-heading {
    font-size: 3rem;
    color: #00a5d3;
    margin-bottom: 1rem;
}

/*----- end of carousel content stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
    height: 100%;
    overflow: hidden;
    padding: 0 0 100px 0;
    /* to hide slides in x-direction */
    position: relative;
}

/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
    display: flex;
    /* We give it width as 400% because we are making a 
           4 image carousel. If you want to make for example, 
           5 images carousel, then give width as 500%. */
    width: 500%;
    height: 100%;
    margin-top: 50px;
    position: relative;
    margin-bottom: 2px;
    /* you can change the animation settings from below */
    animation: slideshow 20s infinite;
}

/* define width and height for images*/
.slide {
    width: 100%;
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* @keyframes are used to provide animations
       We make these settings for 4 image carousel.
       Make modification according to your needs. */
@keyframes slideshow {
    0% {
        left: 0;
    }

    10% {
        left: 0;
    }

    15% {
        left: -100%;
    }

    25% {
        left: -100%;
    }

    30% {
        left: -200%;
    }

    40% {
        left: -200%;
    }

    45% {
        left: -300%;
    }

    55% {
        left: -300%;
    }

    60% {
        left: -400%;
    }

    65% {
        left: -400%
    }

    70% {
        left: -300%;
    }

    75% {
        left: -200%;
    }

    85% {
        left: -100%;
    }

    90% {
        left: 0%;
    }
}

/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
/* .slide-btn {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid #00a5d3;
    width: 12px;
height: 12px;
    outline: none;
    cursor: pointer;

    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
} */

/* As we provide position as absolute, 
    the buttons places one over the other. 
    So, we have to place them individually
    at their correct positions. */
/* .slide-btn-1 {
    left: 15%;
}

.slide-btn-2 {
    left: 35%;
}

.slide-btn-3 {
    left: 55%;
}

.slide-btn-4 {
    left: 75%;
}

.slide-btn-5 {
    left: 95%
} */

/* When we focus on the particular button, 
    the animation stops to that particular image 
    to which the button is associated. */

/* .prod-flex-tabs:hover~.slideshow-wrapper {
    animation: none;
} */

.slide-btn-1:hover~.slideshow-wrapper {
    animation: none;
    left: 0;
}

.slide-btn-2:hover~.slideshow-wrapper {
    animation: none;
    left: -100%;
}

.slide-btn-3:hover~.slideshow-wrapper {
    animation: none;
    left: -200%;
}

.slide-btn-4:hover~.slideshow-wrapper {
    animation: none;
    left: -300%;
}

.slide-btn-5:hover~.slideshow-wrapper {
    animation: none;
    left: -400%;
}

/* when we focus on the button, the background color changes */
.slide-btn:focus,
.slide-btn:hover {
    background-color: #00a5d3;
}

.slider-button{
    
    margin: 0px 0 100px 0px;
    padding: 0px 50px 15px 50px;
    border-bottom: 4px solid #e2e4e6;
}
.slider-button:hover, .slider-button:active{
    border-bottom: 4px solid #00a5d3;
    color: #00a5d3;
}
#wrap-product h2{
    margin-bottom: 50px;
}
#prodct_slider a{
font-weight: bold;
font-size:large ;
width: 20%;
}