.our-services {
    margin-top:  50px;
  }
  .flip-container {
    -webkit-perspective: 1000;
    margin: 0 auto 60px auto;
    width: 320px;
    height: 200px;
    border-radius: 15px;
    cursor:pointer;

  }
  
  .flip-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    cursor:pointer;
  }
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    cursor:pointer;
  }
  
  .front {
    width: 320px;
    height: 200px;
    border-radius: 15px;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .front h3 {
    text-align: center;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: rgb(139, 139, 139);
  }
  
  .front img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0x;
  }
  
  .back {
    width: 320px;
    height: 200px;
    border-radius: 15px;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(180deg);
    text-align: center;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: rgb(121, 121, 121);
  }
  
  .back h3 {
    margin-top: 20px;
  }
  
  .back p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-right:15px;
  }
  
  .flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    position: relative;
    border: 2px solid #bbb;
  }
  